body {
    background-color: rgb(252, 232, 246);
    
}


table, th {
    text-align: left;
    padding: 15px;
}

img {
    border-radius: 8px;
    width: 200px;
  }

.button {
    background-color: #94e997;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

.button2 {
    background-color: #b4c7fd;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
  }



#bank {
    background-color: aquamarine;
    
}

#work {
    background-color: rgb(218, 240, 158);

}

#laptops {
    background-color:rgb(215, 210, 240)
}